In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\tanma\\Downloads\\Smart_India_hackathon\\tested.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26999 entries, 0 to 26998
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           26999 non-null  int64
 1   created_at           26999 non-null  object
 2   timestamp            26999 non-null  object
 3   mmsi                 26999 non-null  int64
 4   msg_type             26999 non-null  int64
 5   latitude             26999 non-null  float64
 6   longitude            26999 non-null  float64
 7   speed                26999 non-null  float64
 8   course               26999 non-null  float64
 9   heading              26999 non-null  float64
 10  rot                  26999 non-null  float64
 11  imo                  0 non-null      float64
 12  name                 0 non-null      float64
 13  call_sign            0 non-null      float64
 14  flag                 26999 non-null  object
 15  draught              0 non-null      float64
 16  ship_and_cargo_type  0 non-null      float64
 17  length               0 non-null      float64
 18  width                0 non-null      float64
 19  eta                  0 non-null      float64
 20  destination          0 non-null      float64
 21  status               26999 non-null  float64
 22  maneuver             26999 non-null  float64
 23  accuracy             26999 non-null  float64
 24  collection_type      26999 non-null  object
 25  mmsi_label           26999 non-null  object
 26  course_diff          26999 non-null  float64
 27  rot_diff             26999 non-null  float64
 28  speed_diff           26999 non-null  float64
 29  lat_diff             26999 non-null  float64
 30  long_diff            26999 non-null  float64
dtypes: float64(23), int64(3), object(5)
memory usage: 6.4+ MB

In [4]:
df.head()

,Unnamed: 0,created_at,timestamp,mmsi,msg_type,latitude,longitude,speed,course,heading,...,status,maneuver,accuracy,collection_type,mmsi_label,course_diff,rot_diff,speed_diff,lat_diff,long_diff
0,0,2020-07-12 20:21:52.743665 UTC,2020-07-12 20:09:08 UTC,209171000,1,-20.476667,58.221173,8.0,55.0,58.0,...,0.0,0.0,0.0,satellite,mmsi-209171000,0.0,0.0,0.0,0.000000,0.000000
1,1,2020-07-12 20:21:52.743665 UTC,2020-07-12 20:10:29 UTC,209171000,1,-20.474987,58.223813,8.0,57.0,59.0,...,0.0,0.0,0.0,satellite,mmsi-209171000,2.0,18.0,0.0,0.001680,0.002640
2,2,2020-07-12 20:21:52.743665 UTC,2020-07-12 20:11:18 UTC,209171000,1,-20.474000,58.225360,8.1,56.0,60.0,...,0.0,0.0,0.0,satellite,mmsi-209171000,-1.0,-4.0,0.1,0.000987,0.001547
3,3,2020-07-12 20:21:44.224067 UTC,2020-07-12 20:12:18 UTC,209171000,1,-20.472773,58.227360,8.0,57.0,62.0,...,0.0,0.0,0.0,satellite,mmsi-209171000,1.0,-5.0,-0.1,0.001227,0.002000
4,4,2020-07-12 20:37:36.549524 UTC,2020-07-12 20:14:39 UTC,209171000,1,-20.470133,58.232400,8.1,60.0,62.0,...,0.0,0.0,0.0,satellite,mmsi-209171000,3.0,0.0,0.1,0.002640,0.005040

In [5]:
df.drop(["Unnamed: 0"],axis=1,inplace=True)

In [6]:
df['label'] = 0
a=0
for i in df['mmsi']:
    
    if(i==372711000):
        df.iloc[a,30]=1
    a=a+1

In [7]:
float_column=['speed','course','rot','label']
df=df[float_column]

In [8]:
from sklearn.preprocessing import  StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

In [9]:
df.label.value_counts()

0    25918
1     1081
Name: label, dtype: int64

In [10]:
za=6

In [11]:
RANDOM_SEED = 101

X_train, X_test = train_test_split(df, test_size=0.3, random_state = RANDOM_SEED)

In [12]:
X_train

       speed  course  rot  label
22759   12.3   218.2  0.0      0
8854     0.0   304.0  0.0      1
10742    9.3    59.6  0.0      0
20309   14.2    60.1  0.0      0
11840   14.5   239.0  0.0      0
...      ...     ...  ...    ...
5695     6.8    62.8  7.0      0
8006    10.5    63.0  0.0      0
17745   12.2   233.7 -3.0      0
17931   10.3    60.7  6.0      0
13151   11.1   239.0  0.0      0

[18899 rows x 4 columns]

In [13]:
X_train=X_train.reset_index(drop=True)

In [14]:
X_train.label.value_counts()

0    18166
1      733
Name: label, dtype: int64

In [15]:
X_train1 = X_train[X_train['label'] == 1]
X_train = X_train[X_train['label'] == 0]

In [16]:
X_test=X_test.append(X_train1)

C:\Users\tanma\AppData\Local\Temp\ipykernel_8072\3741126235.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  X_test=X_test.append(X_train1)

In [17]:
y_train=X_train['label']

In [18]:
X_train = X_train.drop(['label'], axis=1)

In [19]:
X_test1=X_test
RANDOM_SEED = 101

X_valid, X_test= train_test_split(X_test1, test_size=0.8, random_state = RANDOM_SEED)

In [20]:
X_valid=X_valid.reset_index(drop=True)

In [21]:
X_test=X_test.reset_index(drop=True)

In [22]:
X_valid.label.value_counts()

0    1551
1     215
Name: label, dtype: int64

In [23]:
X_test.label.value_counts()

0    6201
1     866
Name: label, dtype: int64

In [24]:
y_test  = X_test['label']
X_test  = X_test.drop(['label'], axis=1)

In [25]:
y_valid  = X_valid['label']
X_valid  = X_valid.drop(['label'], axis=1)

In [26]:
from pycaret.anomaly import *

In [27]:
X_train

       speed  course  rot
0       12.3   218.2  0.0
2        9.3    59.6  0.0
3       14.2    60.1  0.0
4       14.5   239.0  0.0
5       10.3   235.5  0.0
...      ...     ...  ...
18894    6.8    62.8  7.0
18895   10.5    63.0  0.0
18896   12.2   233.7 -3.0
18897   10.3    60.7  6.0
18898   11.1   239.0  0.0

[18166 rows x 3 columns]

In [28]:
exp_name = setup(data = X_train)

In [29]:
lof = create_model('pca')

In [30]:
# plot_model(lof, plot = 'tsne')

In [31]:
X_train=predict_model(lof, data = X_train)

In [32]:
X_train['label']=y_train

In [33]:
X_test=predict_model(lof, data = X_test)

In [34]:
from sklearn.metrics import roc_auc_score

In [35]:
X_train['label']=y_train

In [60]:
X_train['Anomal']=0
c=0
for i in X_train['Anomaly_Score']:
        if(i>0):
            X_train.iloc[c,za]=1
        c=c+1

In [61]:
# X_train

In [62]:
(X_train[['Anomal','label']]
 .groupby(['Anomal','label'])
 .size()
 .to_frame()
 .rename(columns={0:'number'}))

              number
Anomal label
0      0       18157
1      0           9

In [39]:
X_test['label']=y_test

In [40]:
X_test

      speed  course    rot  Anomaly  Anomaly_Score  label
0       9.9    54.0    5.0        0      14.147968      0
1      12.5   235.4   -6.0        0      13.533523      0
2      10.5    54.8   -4.0        0      12.884912      0
3       0.0   292.0 -128.0        1      60.776462      1
4       0.0    14.0    0.0        1      49.555648      1
...     ...     ...    ...      ...            ...    ...
7062   11.3   233.0    0.0        0      14.082129      0
7063   11.0    53.5    0.0        0      11.659588      0
7064    0.0   304.0 -128.0        1      61.167269      1
7065   10.3    60.9    0.0        0      12.879888      0
7066    7.9    58.2    0.0        0      20.154222      0

[7067 rows x 6 columns]

In [41]:
X_test.label.value_counts()

0    6201
1     866
Name: label, dtype: int64

In [58]:
X_test['Anomal']=0
c=0
for i in X_test['Anomaly_Score']:
        if(i>0):
            X_test.iloc[c,za]=1
        c=c+1

In [59]:
(X_test[['Anomal','label']]
 .groupby(['Anomal','label'])
 .size()
 .to_frame()
 .rename(columns={0:'number'}))

              number
Anomal label
0      0        6201
       1         135
1      1         731

In [44]:
from sklearn.metrics import precision_recall_curve

In [45]:
precision, recall, thresholds = precision_recall_curve(X_test['label'],X_test['Anomaly_Score'])

In [46]:

numerator = 2 * recall * precision
denom = recall + precision
f1_scores = np.divide(numerator, denom, out=np.zeros_like(denom), where=(denom!=0))
max_f1 = np.max(f1_scores)
max_f1_thresh = thresholds[np.argmax(f1_scores)]

In [47]:
max_f1

0.9161451814768461

In [48]:
max_f1_thresh

43.20296067396559

In [49]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7067 entries, 0 to 7066
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   speed          7067 non-null   float64
 1   course         7067 non-null   float64
 2   rot            7067 non-null   float64
 3   Anomaly        7067 non-null   int32
 4   Anomaly_Score  7067 non-null   float64
 5   label          7067 non-null   int64
 6   Anomal         7067 non-null   int64
dtypes: float64(4), int32(1), int64(2)
memory usage: 359.0 KB

In [50]:
X_test['Anomal']=0
c=0
for i in X_test['Anomaly_Score']:
        if(i>max_f1_thresh):
            X_test.iloc[c,za]=1
        c=c+1

In [51]:
(X_test[['Anomal','label']]
 .groupby(['Anomal','label'])
 .size()
 .to_frame()
 .rename(columns={0:'number'}))

              number
Anomal label
0      0        6201
       1         135
1      1         731

In [52]:
X_valid=predict_model(lof, data = X_valid)

In [53]:
X_valid['label']=y_valid

In [54]:
X_valid['Anomal']=0
c=0
for i in X_valid['Anomaly_Score']:
        if(i>max_f1_thresh):
            X_valid.iloc[c,za]=1
        c=c+1

In [55]:
(X_valid[['Anomal','label']]
 .groupby(['Anomal','label'])
 .size()
 .to_frame()
 .rename(columns={0:'number'}))

              number
Anomal label
0      0        1550
       1          31
1      0           1
       1         184

In [56]:
import sklearn

In [57]:
sklearn.metrics.f1_score(X_valid['label'],X_valid['Anomal'])

0.9199999999999999